.ArrayCities{
    width: 915px;
    min-height: 220px;
    margin-top: 25px;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
@media only screen and (max-width: 1000px) {
    .ArrayCities{
        width: 355px;
        padding-left: 20px;
        margin-top: 13px;
    }
}